{{ partial "header" . }}
    {{ $.Scratch.Set "shareNav" true }}
    {{ partial "navbar" . }}
    <!-- Main -->

    <div id="main">
      <article class="post">

        <header>

          <div class="title">
            <h1>はじめに</h1>
            <p></p>
          </div>

          <div class="meta">

            <time class="published" datetime='2019-12-28'>
              December 28, 2019
            </time>

            <span class="author"></span>
             <p>
               5 minute read
             </p>

           </div>

         </header>

      <section id="social-share">
        <ul class="icons">
          <li>
           <a href="//twitter.com/share" target="_blank" class="share-btn twitter">
             <i class="fa fa-twitter"></i>
             <p>Twitter</p>
           </a>
          </li>

          <li>
            <a href="//www.facebook.com/sharer/sharer.php" target="_blank" class="share-btn facebook">
              <i class="fa fa-facebook"></i>
              <p>Facebook</p>
            </a>
          </li>

          <li>
            <a href="//www.linkedin.com/shareArticle" target="_blank" class="share-btn linkedin">
              <i class="fa fa-linkedin"></i>
              <p>LinkedIn</p>
            </a>
          </li>

        </ul>
      </section>

      <div id="content">
        <p>このホームページは、経験の浅いプロジェクトマネージャーがプロジェクトを成功させるために身につけるべき振る舞い（コンピテンシー）についてまとめたものです。</p>
        <p>変化の激しい時代において、プロジェクトを成功させる、というのは、なかなかに難しいことです。私たちSix Sensesは、米国Project Management Instituteが提唱しているタレント・トライアングルをベースに、32のコンピテンシーをまとめました。</p>
        <p>このホームページが少しでも参考にしていただけましたら光栄です。</p>

        <h2 id="リーダーシップ"><a href="categories/リーダーシップ/">リーダーシップ（11）</a></h2>

<ul>
 <li><a href="post/ブレインストーミング/">ブレインストーミング</a></li>
 <li><a href="post/コーチングとメンタリング/">コーチングとメンタリング</a></li>
 <li><a href="post/コンフリクトマネジメント/">コンフリクト・マネジメント</a></li>
 <li><a href="post/eq/">EQ（EMOTIONAL INTELLIGENCE QUOTIENT；心の知能指数）</a></li>
 <li><a href="post/影響力/">影響力</a></li>
 <li><a href="post/コミュニケーション能力/">コミュニケーション能力</a></li>
 <li><a href="post/傾聴/">傾聴</a></li>
 <li><a href="post/交渉力/">交渉力</a></li>
 <li><a href="post/問題解決力/">問題解決力</a></li>
 <li><a href="post/チームビルディング/">チームビルディング</a></li>
 <li><a href="post/デザイン思考/">デザイン思考</a></li>
</ul>

        <h2 id="戦略的およびビジネスのマネジメント"><a href="categories/戦略的およびビジネスのマネジメント/">戦略的およびビジネスのマネジメント（10）</a></h2>

<ul>
 <li><a href="post/brmbenefit-realization-management/">BRM（BENEFIT REALIZATION MANAGEMENT）</a></li>
 <li><a href="post/ビジネス感覚/">ビジネス感覚</a></li>
 <li><a href="post/ビジネスモデリング/">ビジネスモデリング</a></li>
 <li><a href="post/市場競合分析/">市場競合分析</a></li>
 <li><a href="post/顧客エンゲージメント/">顧客エンゲージメント</a></li>
 <li><a href="post/業界固有の知識標準体系/">業界固有の知識、標準体系</a></li>
 <li><a href="post/法律および法規制の遵守/">法律および法規制の遵守</a></li>
 <li><a href="post/マーケットの認知/">マーケットの認知</a></li>
 <li><a href="post/企業運用機能群としてのプロフィットセンターとコストセンター/">企業運用機能群としてのプロフィット・センターとコスト・センター</a></li>
 <li><a href="post/企業戦略の計画分析提携/">企業戦略</a></li>
</ul>

        <h2 id="テクニカル・プロジェクトマネジメント"><a href="categories/テクニカルプロジェクトマネジメント">テクニカル・プロジェクトマネジメント（11）</a></h2>

<ul>
 <li><a href="post/アジャイル開発/">アジャイル開発</a></li>
 <li><a href="post/データの収集とモデリング/">データの収集とモデリング</a></li>
 <li><a href="post/evm/">EVM</a></li>
 <li><a href="post/ガバナンス/">ガバナンス</a></li>
 <li><a href="post/ライフサイクルマネジメント/">ライフサイクル・マネジメント</a></li>
 <li><a href="post/パフォーマンスマネジメント/">パフォーマンスマネジメント</a></li>
 <li><a href="post/要求マネジメントとトレーサビリティ/">要求マネジメントとトレーサビリティ</a></li>
 <li><a href="post/リスクマネジメント/">リスクマネジメント</a></li>
 <li><a href="post/スケジュールマネジメント/">スケジュールマネジメント</a></li>
 <li><a href="post/スコープマネジメント/">スコープ・マネジメント</a></li>
 <li><a href="post/見積もり/">見積もり</a></li>
</ul>

      </div>
    </article>
   </div>

    {{ partial "sidebar" . }}
{{ partial "footer" . }}
